#head {
  height: 135px;
}
#head .container {
  padding: 30px 0;
}
.reg_box {
  width: 1000px;
  height: 700px;
  background-color: #fff;
  margin: 50px auto;
  padding: 15px 50px;
}
.reg_tab {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #808080;
}
.reg_tab li {
  width: 240px;
  height: 100%;
  text-align: center;
  font-size: 22px;
}
li.on span{
    color: orange;
}
 li.on::after {
  content: "";
  width: 180px;
  height: 3px;
  background-color: orange;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%);
}
.reg_tab li span {
  margin: 0 10px;
  position: relative;
  top: 3px;
}
.reg_content {
  width: 700px;
  height: 533px;
  margin: 50px auto;
}
.reg_view {
  width: 100%;
  height: 100%;
  border: 1px solid #808080;
  border-top: 1px solid orange;
  padding: 25px;
}
.reg_content span {
  display: block;
  margin-top: 10px;
  color: orange;
}
.reg_content .agree {
  display: block;
  margin: 20px auto;
  width: 180px;
  height: 38px;
  border: 0;
  background-color: #ff9c00;
  border-radius: 15px;
}
label {
  display: inline-block;
  width: 100px;
  height: 50%;
  text-align: right;
  margin-right: 10px;
}
.myform .itme {
  width: 100%;
  line-height: 50px;
  height: 50px;
  padding-left: 50px;
  position: relative;
}
.itme input:first-of-type {
  width: 300px;
  height: 30px;
  padding: 0 10px;
}
input{
  outline: none;
}
input[type="submit"]{
  width: 150px;
  height: 35px;
  border-radius: 15px;
  background-color: orange;
  border: 0;
  color: #fff;
  display: block;
  margin: 50px auto;
}
select{
  height: 30px;
}
.check{
  width: 100px;
  height: 30px;
  background-color: orange;
  border-radius: 15px;
  border: 0;
  color: #fff;
}
#checknum{
  width:200px
}
#mail{
  width:180px
}
label.error{
  width: 200px;
  height: 20px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}
.itme span{
  display: inline-block;
  width: 70px;
  height: 15px;
  margin-left: 10px;
  display: none;
}
span.low{
  background-color: red;
}
span.mid{
  background-color: orange;
}
span.strong{
  background-color: green;
}