/* 首页横幅图片 */
.banner {
  height: 300px;
  background: url("../images/banner5.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
/* 关于我们 */

.about_text {
  width: 900px;
  float: right;
}
.about_text h2 {
  color: #000;
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
}
.about_text span p {
  color: #000;
  font-size: 14px;
  line-height: 2.3em;
}
.about_text .text_mid {
  display: block;
  margin: 30px 0;
}

