  /* 首页横幅图片 */
  .banner {
    background: url(../images/banner5.jpg) no-repeat;
    height: 300px;
    background-size: 100% 100%;
  }
  aside img{
      width: 100%;
      height: 300px;
      margin-top: 20px;
  }
  .about_text{
      width: 900px;
      float: right;
  }
  .about_text img{
      width: 100%;
  }
  .about_text .about_view{
      width: 100%;
      height: 210px;
      box-sizing: border-box;
      padding: 35px 25px;
      border: 1px solid #f2f2f2;
      margin-top: 35px;
  }
  .about_text .about_view p{
      color:#aaa;
      font-size: 15px;
      line-height: 2.4em;
  }
  