/* * 首页内容页 */
.content {
  margin-top: 50px;
  position: relative;
}
.content p {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.content p a {
  font-size: 13px;
  font-weight: 300;
}
.content h2 {
  color: #d43b33;
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 500;
}
.content h4 {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  line-height: 50px;
  font-weight: 500;
}
.content h4 a {
  margin-right: 20px;
}
.content button {
  width: 100px;
  height: 30px;
  border: 0;
  border-radius: 5px 5px 0 0;
  color: #fff;
  position: relative;
  top:10px;
  background-color: #d16d57;
}
hr {
  background-color: #d16d57;
}
.btn_group{
    margin: 30px 0;
}
.btn_group a{
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #d43b33;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}
.content p:last-of-type{
    font-size: 14px;
    line-height:1.5em;
    margin:20px 0 20px 0;
    font-weight: 400;
}
span a{
    font-size: 13px;
    color: #d43b33;
    margin-right:50px;
}