/* 首页内容页 */
.content {
  margin-top: 100px;
  position: relative;
}
.top_title {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translate(-50%);
}
.top_title p {
  font-size: 20px;
  font-weight: bold;
  color: #d43b33;
  font-family: 宋体;
}
.top_title p:first-child {
  color: #909090;
  font-size: 25px;
}
.top_line {
  width: 80%;
  height: 2px;
  background-color: #cbcbcb;
}
/* 首页上部第一部部分文本 */
.top_text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}
.top_text_box > p {
  font-size: 14px;
  color: #686868;
  line-height: 2em;
}
.top_text_box > a {
  display: block;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 3px 5px #000;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  border: 0;
  font-size: 12px;
  color: black;
  margin-top: 30px;
}
/* 首页中部分类板块 */
.page_btn {
  width: 330px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 8.5px;
}
.page_btn a {
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #626262;
  color: #fff;
  font-size: 14px;
  border: 2px solid #cbcbcb;
  border-bottom: 0;
  text-align: center;
  line-height: 35px;
}
.page_btn a:first-child {
  background-color: #fff;
  color: #d43b33;
}
.pic_text {
  width: 750px;
  height: 185px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pic_text .pic img {
  width: 100%;
  height: 100%;
}
.pic_text .text {
  width: 400px;
  color: #464646;
  font-size: 13px;
  line-height: 1.6em;
}
/* 首页中部横幅图片 */
.mid_banner {
  height: 360px;
  background: url("../images/by_good_project.png") no-repeat;
  background-size: 100% 100%;
  margin-bottom: 30px;
}
.banner_title {
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30px;
  margin: 0 auto;
}
.banner_title p {
  font-size: 20px;
  color: #d43b33;
  font-weight: bold;
  font-family: 宋体;
}
.banner_title p:first-child {
  color: #909090;
  font-size: 25px;
}
.banner_pic_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  margin-top: 60px;
}
.banner_pic {
  width: 370px;
  height: 150px;
  position: relative;
}
.banner_pic img {
  width: 100%;
  height: 100%;
}
.banner_pic p {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  font-size: 12px;
}
/* 首页底部文本 */
.btm_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.news {
  width: 580px;
}
.btm_title {
  font-size: 15px;
}
.btm_title a {
  color: #000;
}
.btm_title a:nth-of-type(2) {
  color: red;
}
.news p {
  font-size: 13px;
  border-bottom: 2px dashed #f2f2f2;
  line-height: 3em;
}
.news h2 {
  font-size: 22px;
  font-weight: 300px;
  font-family: 宋体;
}
.message {
  width: 600px;
}
.message p img {
  position: relative;
  top: 10px;
}
.message p input {
  width: 270px;
  height: 35px;
  background-color: #fff;
  outline: none;
  margin: 10px 0 10px 0;
  text-indent: 1em;
}
.message textarea {
  height: 200px;
  width: 100%;
  outline: none;
}
.message p:last-child {
  font-size: 12px;
  color: #aaa;
  line-height: 50px;
}
.message p input.check {
  width: 100px;
}
.message p:last-child input {
  width: 130px;
  height: 25px;
  color: #fff;
  float: right;
  border: 0;
  background-color: #d43b33;
  margin: 15px 0;
}
.message p a {
  color: red;
}
